@model ProyectoBlog.ViewModels.PostViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nuevo Post</h2>

@using (Html.BeginForm("Add", "Post"))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Post.Title)
        @Html.TextBoxFor(model => model.Post.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Post.Title)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Post.CategoryId)
        @Html.DropDownListFor(model => model.Post.CategoryId, new SelectList(Model.Categories, "Id", "Name"))
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Post.Content)
        @Html.TextAreaFor(model => model.Post.Content, 5, 5, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Post.Content)

    </div>

    <div class="form-group">
        <input type="submit" value="Publicar" />
    </div>
}


